[Unit]
Description=PrskDiscord Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/projects/nenetils.js
ExecStart=%h/projects/nenetils.js/auto.sh
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
